.flex-show{
    display: flex;
    flex-wrap: wrap;
    &.-column{
        flex-direction: column;
        
    }
    &.-row{
        flex-direction: row;
        width: 50em;
        margin: 0 auto;
    }
}

img{
    height: 100%;
}

.flex-card{
    width: 50%;
    height: 8em;
    padding-top: 1em;
}

div{
    flex-basis:50%;
    &.flex-card{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        .inner-column{
            height: 100%;
            width: 100%;
        }
    }
}
