.house-hfirst{
    background-repeat: no-repeat;
        background-image: url('~/../images/casa1-2.png');        
        background-size: 15em 10em;
        display: block;
        position: relative;

}
