.house-hfirst{
    background-repeat: no-repeat;
    //background-image: url('./static/img/casa.png');        
    background-size: 15em 10em;
    display: block;
    position: relative;
    background-color: grey;

}
