//variables and defaults settings
@import '../../settings';

//default flexbox container
@import './components/flex-show.scss';

//destaques imagens
@import './components/houses.scss';


*{
    box-sizing: border-box;
}

p,h1,h2,h3,h4,input,textarea,div,span{
    font-family: 'Open Sans', sans-serif;
    margin:0;
}